
# BEGIN WPForms
# "BEGIN WPForms"와 "END WPForms" 사이의 지시문(줄)은 
# 동적으로 생성되며 워드프레스 필터를 통해서만 수정해야합니다. 
# 이 표시 사이의 지시문을 변경하면 덮어쓰게 됩니다.
# Disable PHP and Python scripts parsing.
<Files *>
  SetHandler none
  SetHandler default-handler
  RemoveHandler .cgi .php .php3 .php4 .php5 .phtml .pl .py .pyc .pyo
  RemoveType .cgi .php .php3 .php4 .php5 .phtml .pl .py .pyc .pyo
</Files>
<IfModule mod_php5.c>
  php_flag engine off
</IfModule>
<IfModule mod_php7.c>
  php_flag engine off
</IfModule>
<IfModule mod_php8.c>
  php_flag engine off
</IfModule>
<IfModule headers_module>
  Header set X-Robots-Tag "noindex"
</IfModule>
# END WPForms