@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

body {
  min-height: 100vh;
  color: #000;
  color: var(--color-text);
  background-color: #fff;
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 1s;
}

#portfolio .portfolio-caption{
    color: black;
}

.portfolio-modal{
    color: black;
}

.sections {
  position: relative;
  display: block;
  padding: 0 6vmax;
}

.section--image {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 10vh 0 30vh auto;
  opacity: 0;
  transition: opacity 1s;
  
  .active & {
    opacity: 1;
  }
  
  img {
    display: block;
    position: relative;
    max-width: 90%;
    max-height: 100vh;
    margin: 0 0 0 auto;
  }
}

.section--header {
  font-size: calc(var(--fontsize-text));
  font-family: var(--font-text);
  position: absolute;
  bottom: 5vmax;
  left: 0;
  padding-left: 5vmax;
  z-index: 1000;
  line-height: 1;
  font-weight: 300;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  
  .active & {
    animation-name: fadeInUp;
  }
}

@keyframes fadeInUp{
  0% {
    transform: translate3d(0,55%,0);
    opacity:0;
  } to {
    opacity:1;
    transform:translate3d(0,0,0);
  }
}